body{
    background-image: url('https://images.unsplash.com/photo-1492144534655-ae79c964c9d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    color: white;
    background-repeat: no-repeat;
    background-size:cover;
    
}
#papa{
    height: 100vh;
}
#foot{
    background-color: black;
    
}
#text{
    color:#008CBA;
}
button{
    background-color:#008CBA; 
    border: none;
    color: white;
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
} 
h1{
    padding:15px 32px ;
}
